@tailwind base;
@tailwind components;
@tailwind utilities;

.calculation-box {
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
}


.active{
    background-color: #26C2AE;
    color: #00474B;
}

